# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [237]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [238]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [239]:
#  1. Get the total rides for each city type

In [240]:
# Create the Urban city DataFrame.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

In [241]:
# Get the number of rides for urban cities.
urban_ride_count = urban_cities_df.groupby(["type"]).count()["ride_id"]
urban_ride_count

type
Urban    1625
Name: ride_id, dtype: int64

In [242]:
# Create the Suburban city DataFrame.
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
suburban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,1/27/2019 3:08,27.79,6.653620e+12,11,Suburban
1626,East Kentstad,4/7/2019 19:44,18.75,6.575960e+12,20,Suburban
1627,Lake Omar,1/17/2019 21:33,21.71,9.669120e+11,22,Suburban
1628,Myersshire,2/27/2019 17:38,17.10,5.706770e+12,19,Suburban
1629,West Hannah,4/19/2019 1:06,37.78,2.273050e+12,12,Suburban

In [243]:
# Get the number of rides for urban cities.
suburban_ride_count = suburban_cities_df.groupby(["type"]).count()["ride_id"]
suburban_ride_count

type
Suburban    625
Name: ride_id, dtype: int64

In [244]:
# Create the Suburban city DataFrame.
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_cities_df.head()

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,4/13/2019 11:13,43.22,1.076080e+12,9,Rural
2251,North Holly,2/2/2019 14:54,12.42,1.985260e+12,8,Rural
2252,Michaelberg,3/27/2019 18:27,54.85,4.421840e+12,6,Rural
2253,Lake Latoyabury,2/23/2019 21:12,47.90,3.269650e+12,2,Rural
2254,Lake Latoyabury,5/6/2019 8:57,51.80,4.018030e+12,2,Rural

In [245]:
# Get the number of rides for urban cities.
rural_ride_count = rural_cities_df.groupby(["type"]).count()["ride_id"]
rural_ride_count

type
Rural    125
Name: ride_id, dtype: int64

In [246]:
#  1. Get the total rides for each city type
total_rides = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_rides

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [247]:
# 2. Get the total drivers for each city type

In [248]:
urban_driver_count = urban_cities_df.groupby(["type"]).sum()["driver_count"]
urban_driver_count

type
Urban    59602
Name: driver_count, dtype: int64

In [249]:
suburban_driver_count = (suburban_cities_df.groupby(["type"]).sum()["driver_count"])
suburban_driver_count

type
Suburban    8570
Name: driver_count, dtype: int64

In [250]:
rural_driver_count = rural_cities_df.groupby(["type"]).sum()["driver_count"]
rural_driver_count

type
Rural    537
Name: driver_count, dtype: int64

In [251]:
# 2. Get the total drivers for each city type
total_drivers = pyber_data_df.groupby(["type"]).sum()["driver_count"]
total_drivers

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [252]:
#  3. Get the total amount of fares for each city type

In [253]:
urban_fare = urban_cities_df.groupby(["type"]).sum()["fare"]
urban_fare

type
Urban    39854.38
Name: fare, dtype: float64

In [254]:
suburban_fare = suburban_cities_df.groupby(["type"]).sum()["fare"]
suburban_fare

type
Suburban    19356.33
Name: fare, dtype: float64

In [255]:
rural_fare = rural_cities_df.groupby(["type"]).sum()["fare"]
rural_fare

type
Rural    4327.93
Name: fare, dtype: float64

In [256]:
3# Get the total amount of fares for each city type
total_fare = pyber_data_df.groupby(["type"]).sum()["fare"]
total_fare

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [257]:
#  4. Get the average fare per ride for each city type.

In [258]:
urban_avg_fare = urban_cities_df.groupby(["type"]).mean()["fare"]
urban_avg_fare

type
Urban    24.525772
Name: fare, dtype: float64

In [259]:
suburban_avg_fare = suburban_cities_df.groupby(["type"]).mean()["fare"]
suburban_avg_fare

type
Suburban    30.970128
Name: fare, dtype: float64

In [260]:
rural_avg_fare = rural_cities_df.groupby(["type"]).mean()["fare"]
rural_avg_fare

type
Rural    34.62344
Name: fare, dtype: float64

In [261]:
#  4. Get the average fare per ride for each city type. 
avg_fare_per_ride = pyber_data_df.groupby(["type"]).mean()["fare"]
avg_fare_per_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [262]:
# 5. Get the average fare per driver for each city type. 
avg_fare_per_driver = total_fare / total_drivers
avg_fare_per_driver

type
Rural       8.059460
Suburban    2.258615
Urban       0.668675
dtype: float64

In [263]:
#  6. Create a PyBer summary DataFrame.

In [267]:
pyber_summary_df = pd.DataFrame({
    "Total Rides": total_rides,
    "Total_Drivers": total_drivers,
    "Total_Fare": total_fare,
    "Average Fare per Ride": avg_fare_per_ride,
    "Average Fare per Driver": avg_fare_per_driver})

pyber_summary_df

,Total Rides,Total_Drivers,Total_Fare,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,537,4327.93,34.623440,8.059460
Suburban,625,8570,19356.33,30.970128,2.258615
Urban,1625,59602,39854.38,24.525772,0.668675

In [268]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [271]:
# 8 Format Dataframe
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:.1f}".format)
pyber_summary_df["Total_Drivers"] = pyber_summary_df["Total_Drivers"].map("{:.1f}".format)
pyber_summary_df["Total_Fare"] = pyber_summary_df["Total_Fare"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["verage Fare per Ride"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("${:,.2f}".format)
pyber_summary_df

ValueError: Unknown format code 'f' for object of type 'str'

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [278]:
# 1. Read the merged DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

In [280]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
total_fare_per_date = pyber_data_df.groupby(["type"]&"date"]).sum()["fare"]
total_fare_per_date

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')